:root {
    --main-dark: rgb(19 21 21);
    --main-light: rgb(234 230 229);
    --main-highlight: #5fad41;
    --secondary-highlight: #0e6ba8;

    --default-border-radius: 12px;
    
    --animation-duration: 500ms;

    --profile-holder-font-size: 13pt;
}


@keyframes rotatebg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    font-family: Goorm-sans, sans-serif;
	background: linear-gradient(-45deg, rgba(95, 173, 65, 1) 0%, rgba(14, 107, 168, 1) 100%);
	background-size: 400% 400%;
	animation: rotatebg 12s ease infinite;
    width: 100vw;
    height: 100vh;
    
}




button {
    border: none;
    background: inherit;
    color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

*::selection {
    color: var(--main-light);
    background: var(--main-dark);
}