.flashcard-holder {
    display: grid;
    grid-template-areas:
    "col1 col2" 
    "col1 col2";
    grid-template-columns: 1fr 1fr;
}

.flashcard {
    /* background: color-mix(in lab, rgb(var(--main-highlight)), rgb(var(--secondary-highlight)) 55%); */
    background: color-mix(in srgb, rgb(var(--main-light)), transparent 50%);
    border-radius: 12px;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 12px;
    display: flex;
    flex-direction: row;
}

.flashcard:nth-child(2n) {
    flex-flow: row-reverse;
}

.flashcard img {
    width: 128px;
    border-radius: 12px;
}

.flashcard .profile-holder {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14pt;
}

.profile-holder {
    transform: translateY(calc(-14pt / 2));
    transition-duration: 150ms;
}
.profile-holder:hover {
    transform: none;
}

.profile-holder div {
    opacity: 0;
    transition-duration: 150ms;
}
.profile-holder:hover div {
    opacity: 1;
}


.flashcard-text {
    display: flex;
    align-items: center;
    margin: 8px;
    text-align: justify;
    width: 100%;
    font-size: 13pt;
}

/* Animation */

@keyframes hide-overflow {
    from {
        overflow: hidden;
    }
    to {
        overflow: inherit;
    }
}

.hide-overflow {
    animation-duration: 1000ms;  
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-name: hide-overflow;
}

.slide-in {
    animation-duration: 500ms;  
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.slide-in-right {
    animation-name: slide-in-right;
}
@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: none;
    }
}

.slide-in-left {
    animation-name: slide-in-left;
}
@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}

.flashcard {
    animation-name: slide-in-left;
    animation-duration: 500ms;  
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.flashcard:nth-child(2n) {
    animation-name: slide-in-right;
}
