/* Insert here the common CSS */

:root {
    --main-dark: #131515;
    --main-light: #eae6e5;
    --main-highlight: #0e6ba8;
    --secondary-highlight: #5fad41;
}


html,
body {
    margin: 0;
    font-family: Goorm-sans, sans-serif;
    background: var(--main-light);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.navbar {
    overflow: hidden;
    background-color: var(--main-dark);
}

.navbar .navitem {
    color: var(--main-light);
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    font-family: Gyrotrope, sans-serif;
    font-weight: bold;
}

.navbar a:hover {
    background-color: var(--main-light);
    color: var(--main-dark);
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navitem-test {
    background:
        red;
    width: 50px;
    margin:
        1px;
    flex-grow: 1;
}

