.spacer {
    height: 50px;
}

.flashcard-holder {
    width: 80%;
    display: inherit;
}


.flashcard-holder > .flashcard {
    width: 100%;
}

.dark {
    background: color-mix(in srgb, var(--main-dark), transparent 50%);
    box-shadow: 0px 0px 2px var(--main-light);
    color: var(--main-light);
}

.dark:hover {
    box-shadow: 0px 0px 4px var(--main-light);
}

.flashcard:nth-child(2n) {
    flex-flow: row
}

#center {
    display: flex;
    
    align-items: center;
    flex-direction: column;
}

#skills-grid {
    display: flex;
    width: 80%;
    gap: 12px;
}

.skill {
    flex-grow: 1;
    text-align: center;
}

.skill .flashcard {
    margin: 0;
}